@use './reset';
@use './mixins' as *;

*::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

*::-webkit-scrollbar-thumb {
  background: transparent;
  border-radius: 3px;
}

*:hover::-webkit-scrollbar-thumb {
  background: #8c9aa2;
}

*::-webkit-scrollbar-track {
  background: #f3f3f3;
}

input[type="checkbox"] {
  width: rem(28);
  height: rem(28);
  cursor: pointer;
}

input[type="radio"] {
  width: rem(28);
  height: rem(28);
  cursor: pointer;
}
